.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer li{
	list-style-type: none;
}

.images{
	max-width: 200px; 
	height: auto;
}

blockquote{
	text-align: left;
}

#content li{
	list-style-type: circle;
}

#values{
	text-align: center;
}

#company{
	text-align: left;
}